body {
            background: #2A4D91;
            margin: 0px;
            padding: 0 0px;
            font-family: 'Oswald', sans-serif;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }

        .page-border {
            margin: 20px;
            border: 1px solid #fff;
            height: calc(100vh - 40px);
        }

        .tax-calculator {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            height: 100%;
        }

        .tax-title,
        .tax-result {
            flex: 1;
        }

        .tax-title h2 {
            color: #fff;
            padding: 20px 30px;
            background: #FF7000;
            font-size: 55px;
            letter-spacing: 1px;
        }

        .tax-result {
            padding: 30px 50px;
            background: #fff;
            border-radius: 20px;
            margin: 20px 50px 50px;
        }

        .tax-result label {
            display: flex;
            font-size: 18px;
            color: #000;
            margin-bottom: 5px;
        }

        .tax-result input {
            padding: 11px 10px;
            font-size: 14px;
            background: #fff;
            border: 1px solid #DADDE1;
            margin-bottom: 20px;
            width: 94%;
            border-radius: 6px;
        }

        .check-btn {
            padding: 13px 20px;
            text-align: center;
            background: #1BB596;
            border-radius: 10px;
            color: #fff;
            width: 100%;
            cursor: pointer;
            border: none;
            font-size: 20px;
        }

        .check-btn:hover {
            background: #FF7000;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        .alert {
            color: #FF0000;
            font-size: 14px;
            margin-bottom: 12px;
            display: none;
        }

        .item-report {
            padding: 10px 20px;
            background: #F6F6F6;
            margin-top: 20px;
            border-radius: 10px;
            display: none;
        }

        .item-report p {
            border-bottom: 1px solid #E5E5E5;
            margin: 0px 0 4px;
            padding: 4px 0 5px;
        }

        .item-report .itm-right {
            float: right;
            font-weight: bold;
            color: #000;
        }

        .item-report h3 {
            color: #FF7000 !important;
        }

        @media screen and (max-width: 1100px) {
            .tax-result {
                padding: 30px 50px;
                margin: 20px 20px 20px;
            }

            .tax-calculator {
                gap: 20px;
            }
        }

        @media screen and (max-width: 1024px) {
            .tax-title h2 {
                padding: 20px 30px;
                font-size: 42px;
            }
        }

        @media screen and (max-width: 900px) {
            .tax-calculator {
                flex-direction: column;
                gap: 0px;
                align-items: unset;
                height: unset;
            }

            .tax-title h2 {
                padding: 10px 0px;
                font-size: 35px;
                width: 100% !important;
                text-align: center;
                margin-top: 0px;
            }

            .tax-result {
                padding: 20px 30px;
                margin: 0px 20px 20px;
            }

            .tax-result label {
                font-size: 16px;
            }

            .tax-result input {
                padding: 9px 10px;
                margin-bottom: 17px;
            }

            .check-btn {
                padding: 10px 20px;
                font-size: 18px;
            }
        }

        @media screen and (max-width: 768px) {
            .tax-title h2 {
                font-size: 28px;
            }
        }

        @media screen and (max-width: 600px) {
            .tax-title h2 {
                font-size: 25px;
            }

            .item-report p {
                font-size: 14px;
            }
        }